# Rails
.bundle
db/*.sqlite3
db/*.sqlite3-journal
db/*.sql
db/*.gz
*.lzma
*.log
log/*
tmp/*
pids/*
database.yml
keys.sh
start.sh
reload_db.sh
config/initializers/postmark_mailer.rb
*.pill
brakeman.html

# Documentation
doc/
doc/api
doc/app
.yardoc
.yardopts
config/aws_keys

# Public Uploads
public/system/
public/themes/
public/uploads/

# Public Cache
public/javascripts/cache
public/stylesheets/cache

# Indexes (sphinx/solr)
solr/data
solr/pids
index/**/*
db/sphinx/

# Refinery Specific
*.tmproj
*.autobackupbyrefinery.*
refinerycms-*.gem
.autotest

# Mac
.DS_Store

# Windows
Thumbs.db

# NetBeans
nbproject

# Eclipse
.project

# Redcar
.redcar

# Rubinius
*.rbc

# Vim
*.swp
*.swo

# RubyMine
.idea

# E-texteditor
.eprj

# Backup
*~
.bak/

# Capybara Bug
capybara-*html

# sass
.sass-cache
.sass-cache/*

#rvm
.rvmrc
.rvmrc.*

.rbx
unicorn.rb
unicorn.dev.rb
config/heroku.conf
config/deploy.rb
config/initializers/00_keys.rb
backup/
config/certs/
vendor/gems/
unicorn.prod.rb
public/sitemap1.xml.gz
public/sitemap_index.xml.gz
config/newrelic.yml
reload_forem.sh
reload_db.sh
