<div class="row-fluid">
  <div class="span9">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name),
            html: { method: :post, class: "form-horizontal" }) do |f|
    %>
      <fieldset class="withBorder">
        <legend>Resend unlock instructions</legend>
        <div class="control-group">
          <%= f.label :email, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :email, required: true, autofocus: true, type: "email", class: "input-large" %>
            <span class="help-block">
              We will resend you instructions to unlock your password.
            </span>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit "Resend unlock instructions",
                class: "btn btn-primary",
                disable_with: 'Sending...'
          %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

<% content_for :breadcrumb do %>
  <li>
    <a href="/">Home</a>
    <span class="divider">/</span>
  </li>
  <li class="active">Unlock Account</li>
<% end %>
