<div class="row-fluid">
  <div class="span9">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name),
          html: { method: :post, class: form_class }) do |f|
    %>
      <fieldset class="withBorder">
        <legend>Password reset</legend>
        <div class="control-group">
          <%= f.label :email, 'Your Email', class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :email,
                  required: true,
                  autofocus: true,
                  type: "email",
                  class: "input-large"
            %>
            <span class="help-block">
              We will send you instructions to reset your password.
              <br />
              The token will only be valid for 8 hours.
            </span>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit "Reset my Password", class: "btn btn-primary", 'data-disable-with' => 'Sending...' %>
        </div>
      </fieldset>
    <% end %> <!-- End Form -->
  </div> <!-- End span6-->
</div>

<% content_for :breadcrumb do %>
  <li>
    <a href="/">Home</a>
    <span class="divider">/</span>
  </li>
  <li class="active">Forgot Password</li>
<% end %>
