<div class="socials pull-left">
  <%= link_to "Login with Facebook", "/auth/facebook", class: "zocial facebook" %>
</div>
<div class="socials pull-left">
  <%= link_to "Login with Twitter", "/auth/twitter", class: "zocial twitter" %>
</div>