<div class="socials pull-left">
  <%= link_to_google_auth %>
</div>
<div class="socials pull-left">
  <%= link_to_twitter_auth %>
</div>
<div class="socials pull-left">
  <%= link_to_facebook_auth %>
</div>
<div class="socials pull-left">
  <%= link_to_windowslive_auth %>
</div>