# Using SOLR locally, with multiple cores 
# (Tomcat6 + SOLR-3.5 multiple-core)

# production:
#   solr:
#     hostname: '149.255.102.176'
#     port: 80
#     path: '/solr/mnn_production'

production:
  solr:
    hostname: '127.0.0.1'
    port: 8981

development:
  solr:
    hostname: '127.0.0.1'
    port: 8982
    log_level: WARNING

test:
  solr:
    hostname: '127.0.0.1'
    port: 8983
    log_level: WARNING

