<div class="row">
  <div class="alert alert-error">
    <h3>Sorry, page not found (404)</h3>
    <br />
    <p>This page could not be found or it has been removed.</p>
    <p>If you keep seing this message, please contact us at: </p>
    <p>
    <%= image_tag("https://mnn.s3.amazonaws.com/uploads/attachment/image/0000/0000/0946/medium_7d2a40d2-5dad-4dd2-ad1c-014a49184d42.png", alt: "Worldmathaba email", title: "Worldmathaba email") %>
    </p>
  </div>
</div>