<div class="comments">
  <h3>
    <span class="label label-info">Comments</span>
    <%= link_to image_tag("icons/social/rss_16.png", alt: "RSS for comments on this article"),
          item_comments_path(@item, format: 'rss')
    %>
  </h3>
  <span class="with-left-margin"><i>Latest comments on top</i></span>
  <%= comments_for @item %>
</div>

<% if current_user && !is_handheld? %>
  <%= render partial: "/shared/tinymce" %>
<% end %>
