<div class="comments">
  <span class="span6">
    <span class="label label-info"><i class='icon-comments'></i> Comments </span>
    &nbsp;
    <%= link_to image_tag("icons/social/rss_16.png", alt: "RSS for comments on this article"),
          item_comments_path(@item, format: 'rss')
    %>
  </span>
  <span class="span6"><i>Latest comments</i></span>
  <%#= comments_for @item %>
  <%= render(partial: "opinio/comments/comments", locals: {comments: @comments, commentable: @item}) %>
</div>

<% if current_user && !is_handheld? %>
  <%= render partial: "/shared/tinymce" %>
<% end %>
