<% @items.each do |item| %>
  <%= render :partial => "/shared/item", :locals => {:item => item } %>
<% end %>

<% content_for :breadcrumb do %>
  <li>
    <a href="/">Home</a>
    <span class="divider">/</span>
  </li>
  <% if @language %>
    <li class="active">
      <%= @language.description %>
    </li>
  <% else %>
    <li class="active">
      Latest News
    </li>
  <% end %>
<% end %>


<div class="pagination">
  <%= paginate @items %>
</div>
