<% if @search && @search.total > 0 %>
  <div class="alert alert-success">
    <%= @title %>
  </div>
<% else %>
  <div class="alert alert-error">
    Sorry, but we've found nothing about "<%= params[:q] %>"
  </div>
<% end %>

<% @items.each do |item| %>
  <%= render partial: "/shared/item", locals: {item: item } %>
<% end %>

<div class="pagination">
  <%= paginate @items unless @items.empty? %>
</div>
