<% if @search && @search.total > 0 %>
  <div class="alert-message success">
    <p><%= @title %></p>
  </div>
<% else %>
  <div class="alert-message warning">
    <p>Sorry, we've found nothing about "<%= params[:q] %>"</p>
  </div>
<% end %>

<% @items.each do |item| %>
  <%= render partial: "/shared/item", locals: {item: item } %>
<% end %>

<div class="pagination">
  <%= paginate @items %>
</div>
