<% cache_expiring("comments/#{@item.comment_cache_key}", 600) do %>

  <h3>Comments on: <%= link_to @item.title, @item %></h3>

  <%= paginate @comments %>

  <%= render partial: "opinio/comments/comments", locals: { comments: @comments } %>

  <%= paginate @comments %>

<% end %>