<ul>
  <li><%= link_to "Display 25 items",  params.merge(per_page: 25) %></li>
  <li><%= link_to "Display 50 items",  params.merge(per_page: 50) %></li>
  <li><%= link_to "Display 100 items", params.merge(per_page: 100) %></li>
<ul>