<ul>
  <li><%= link_to "Display 20 items",  params.merge(:per_page => 20) %></li>
  <li><%= link_to "Display 50 items",  params.merge(:per_page => 50) %></li>
  <li><%= link_to "Display 100 items", params.merge(:per_page => 100) %></li>
  <li><%= link_to "Display 200 items", params.merge(:per_page => 200) %></li>
<ul>