//= require loading
//= require box
//= require admin_grid
//= require timepicker
//= require jquery.ui.core
//= require jquery.ui.theme
//= require jquery.ui.datepicker
//= require jquery.ui.slider

@import "active_admin/mixins";


/* Active Admin CSS */
// Reset Away!
body {
  @include global-reset;
}

body {
  @import "active_admin/typography";
  @import "active_admin/header";
  @import "active_admin/forms";
  @import "active_admin/components/comments";
  @import "active_admin/components/flash_messages";
  @import "active_admin/components/popovers";
  @import "active_admin/components/tables";
  @import "active_admin/components/batch_actions";
  @import "active_admin/components/blank_slates";
  @import "active_admin/components/breadcrumbs";
  @import "active_admin/components/dropdown_menu";
  @import "active_admin/components/buttons";
  @import "active_admin/components/grid";
  @import "active_admin/components/links";
  @import "active_admin/components/pagination";
  @import "active_admin/components/panels";
  @import "active_admin/components/columns";
  @import "active_admin/components/scopes";
  @import "active_admin/components/status_tags";
  @import "active_admin/components/table_tools";
  @import "active_admin/components/index_list";
  @import "active_admin/pages/dashboard";
  @import "active_admin/pages/logged_out";
  @import "active_admin/structure/footer";
  @import "active_admin/structure/main_structure";
  @import "active_admin/structure/title_bar";
}

body {
  @include sans-family;
  line-height: 150%;
  font-size: 90%;
  background: #fff;
  margin: 0;
  padding: 0;
  color: $text-color;

  form fieldset {
    padding: 10px 0 15px;
  }

  #title_bar h2 {
    font-size: 1.6em;
    line-height: 1.1em;
  }

  #header h1 {
    margin-right: 0px;
  }

  #header {
    padding: 6px 0px 2px 0px;
  }

  #footer {
    font-size: 0.9em;
    padding: 0 0 0 16px;
  }

  #title_bar #titlebar_right {
    text-align: center;
  }

  #active_admin_content {
    padding: 5px 10px;
  }

  form input[type="select"],
  form input[type="text"],
  form input[type="password"],
  form input[type="email"],
  form input[type="url"],
  form input[type="tel"],
  form textarea {
    font-size: 16px;
    padding: 6px 8px;
  }
  fieldset legend.label label, 
  form label.label {
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
  }
  .sidebar_sction input[type="text"],
  .sidebar_section input[type="password"],
  .sidebar_section input[type="email"],
  .sidebar_section input[type="url"],
  .sidebar_section input[type="tel"],
  .sidebar_section textarea {
    font-size: 13px;
    padding: 3px 6px;
  }
  .sidebar_section form label.label,
  .panel_contents form label.label {
    font-size: 12px;
    line-height: 20px;
  }

  .sidebar_section > div {
    padding: 3px 10px 10px 10px;
  }

  ol.choices-group {
    height: 360px;
    overflow: scroll;
    padding-right: 20px;
    box-shadow: 0px 0px 8px #CCC;
    width: auto;
    padding-right: 20px;
    min-width: 150px;
  }
  form fieldset.choices {
    margin-bottom: 0px;
  }

  li.boolean label,
  li.input label,
  li.optional label,
  form fieldset label, 
  form fieldset.choices li.choice label {
    font-size: 14px;
    font-weight: normal;
    padding-left: 2px;
  }
  li.choice input[type="checkbox"] {
    font-size: 14px;
    margin-right: 6px;
  }

  form input[type="submit"] {
    font-size: 14px;
  }
  form fieldset legend span {
    font-size: 15px;
  }
  form fieldset > ol > li fieldset legend {
    padding-top: 6px;
    padding-left: 2px;
  }
  form fieldset img,
  form fieldset p,
  form fieldset h2,
  form fieldset li,
  form fieldset h3,
  form fieldset h4 {
    padding-left: 10px;
  }
  form hr {
    color:#fff;
    border-color:#fff;
  }

  form #googlemap {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 2%;
    padding: 2px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 6px #999;
    border-radius: 6px;
  }

  form input.full_sized {
    width: 176px;
  }
  form input.auto_sized {
    width: auto;
  }

  form div.small_box {
    float: left;
    margin: 10px 0 10px 20px;
    padding: 10px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 6px #999;
    width: 200px;
  }

  form div.small_box label {
    padding-right: 6px;
  }
  form div.medium_box {
    float:left;
    min-width: 200px;
    margin: 10px 0 10px 20px;
    padding: 10px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 6px #999;
  }
  form div.medium_box fieldset ol > li {
    display: block;
    margin-bottom:5px;
  }
  form div.medium_box fieldset ol > li label {
    display: block;
    width: 90%;
    float: left;
  }

  img.show_listing_img {
    margin: 9px;
    box-shadow: 0px 0px 8px #888;
    padding: none;
    border: 1px solid #eee;
  }
  span.image {
    float: left;
    display: block;
    text-align: center;
    margin: 10px 10px 0 0;
    border: 1px solid #DDD;
    padding-bottom: 4px;
  }
  span.image p {
    margin: 0;
    padding: 0;
  }

  .index_as_block {
    float: left;
    display: block;
  }
  .index_as_block h2,
  .index_as_block h3,
  .index_as_block h4,
  .index_as_block p {
    margin: 1px 1px 2px 8px;
    padding: 0px;
  }
  .index_as_block .grid_images {
    float: left;
    margin-right: 16px;
    margin-bottom: 8px;
    width: 254px;
    height: 364px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  .index_as_block .grid_images img {
    margin: 6px;
    box-shadow: 0px 0px 7px #888;
    padding: none;
    border: 1px solid #eee;
  }
  .index_as_block .grid_images p {
    line-height: 15px;
    font-size: 12px;
    margin: 2px 2px 6px 6px;
  }
  .index_as_block a.button {
    margin-right: 5px;
    font-size: 12px;
    padding: 4px 12px;
  }

  a.featured_true {
    font-weight: bold;
  }

  nav.pagination {
    font-size: 1em;
  }
  #index_footer {
    font-size: 1em;
  }


  table.dashboard .dashboard_section > div {
    padding: 2px 0px 2px 8px;
  }

  #item_title_counter,
  #item_abstract_counter {
    margin-left: 21%;
    color: #666;
    font-style: italic;
    padding: 1px;
  }

  table.index_table td {
    padding: 10px 6px;
  }

  .hidden {
    display: none;
  }

  form fieldset ol > li label abbr {
    color: #555;
    padding-left: 2px;
  }

  img.youtube_mini {
    max-width: 80px;
    max-height: 80px;
  }


  table.index_table tr.even td.status {
    background: #DDD;
  }

  a.suspicious_true {
    color: #FF6600;
  }
  a.spam_true {
    color: #ff0000;
  }

  .red {
    color: #ff0000;
  }
  .green {
    color: #006400;
  }
  .bold {
    font-weight: bold;
  }

  form fieldset label.error,
  li label.error,
  label.error {
    color: red !important;
    font-size: 12px;
    font-style: italic;
    width: auto;
    padding-right: 4px;
  }
  form fieldset textarea.error,
  form fieldset select.error,
  form fieldset input.error,
  li textarea.error,
  li select.error,
  li input.error,
  textarea.error
  select.error
  input.error {
    border-color: red !important;
  }

  #item_existing_attachment_id {
    padding: 2px;
    margin-left: 10px;
    width: 100px;
  }

  p.inline-hints,
  form fieldset > ol > li p.inline-hints {
    font-size: 12px;
  }

  img.user-avatar-mini {
    max-width: 80px;
    max-height: 80px;
  }
  img.user-avatar-large {
    max-width: 160px;
    max-height: 160px;
  }

  div.comment {
    margin: 8px 2px 16px 2px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #ccc
  }

  p.comment_date {
    font-size: 12px;
    color: #666;
    font-style: italic;
    margin: 4px 2px 2px 2px;
  }

  div.chart-unit {
    margin: 30px 10px 30px 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 4px #ccc;
    border-radius: 4px;
    padding: 10px;
  }

  ul.stats li {
    margin: 1px;
  }

}
