.font_control
  float: right
  display: inline
  text-align: left

  a
    font: bold 12px arial
    padding: 3px
    border: solid 1px #ccc
    border-radius: 3px

  a:hover
    text-decoration: none
    background: #eee
    border: solid 1px #888
    box-shadow: 0px 0px 5px #CCC
