.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible-phone {
  display: none !important;
}

.visible-old-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}


@media (max-width: 320px) {
  .hidden-old-phone {
    display: none !important;
  }
  .visible-old-phone {
    display: inherit !important;
  }
}

@media (max-width: 767px) {
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
}




@media only screen and (min-width: 640px) {
  body {
    font-size: 13px;
  }
  .container-fluid {
     min-width: 580px;
  }
  .container-fluid > .sidebar {
    float: left;
    width: 208px;
    left: 20px;
    position: absolute;
    display: block;
  }
  .container-fluid > .content {
    margin-left: 230px;
  }
  .navbar div > ul, .nav {
    font-size: 14px;
  }
  div.well form {
    padding: 5px 5px 5px 7px;
    margin-bottom: 2px;
  }
  div.well form input#q {
    margin-bottom: 10px;
  }
  span.noroll {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden; 
  }
  article {
    section {
      font-size: 13px;
    }
    section span#item_body img {
      max-width: 460px;
      max-height: 440px;
    }
    footer {
      padding: 20px 0 40px 0;
    }
  }
  footer ul.footer_menu li a {
    display: inline-block;
    margin-bottom: 2px;
  }
  footer ul.footer_categories {
    display: none;
  }
}

@media only screen and (min-width: 940px) {
  body {
    font-size: 13px;
  }
  .container-fluid {
    min-width: 880px;
  }
  .container-fluid > .sidebar {
    float: left;
    width: 208px;
    left: 20px;
    position: absolute;
    display: block;
  }
  .container-fluid > .content {
    margin-left: 230px;
  }
  .navbar div > ul, .nav {
    font-size: 14px;
  }
  div.well form {
    padding: 5px 5px 5px 7px;
    margin-bottom: 2px;
  }
  div.well form input#q {
    margin-bottom: 10px;
  }
  div.well.social img {
    margin-right: 2px;
    margin-left: 0px;
  }
  span.noroll {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden; 
  }
  article {
    section {
      font-size: 14px;
    }
    section span#item_body img {
      max-width: 640px;
      max-height: 560px;
    }
    footer {
      padding: 20px 0 20px 0;
    }
  }
  footer {
    ul.footer_menu li a {
      display: inline-block;
    }
    ul.footer_categories {
      display: none;
    }
  }
}


@media only screen and (min-width: 1280px) {
  body {
    font-size: 14px;
  }
  .container-fluid {
     min-width: 1220px;
  }
  .container-fluid > .sidebar {
    float: left;
    width: 208px;
    left: 20px;
    position: absolute;
    display: block;
    font-size: 14px;
  }
  .container-fluid > .content {
    margin-left: 230px;
  }
  div.well form {
    padding: 5px 5px 5px 7px;
    margin-bottom: 2px;
  }
  div.well form input#q {
    margin-bottom: 12px;
  }
  span.noroll {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden; 
  }
  article {
    section {
      font-size: 14px;
    }
    section span#item_body img {
      max-width: 1200px;
      max-height: 900px;
    }
    footer {
      padding: 20px 0 20px 0;
    }
  }
  footer ul.footer_categories {
    display: none;
  }
}




// Highend Mobile
@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 767px) {
  body {
   // -webkit-text-size-adjust: auto;
  }
  .container-fluid {
     min-width: 440px;
     padding-right: 16px;
  }
  .container-fluid > .sidebar {
    float: left;
    width: 166px;
    left: 10px;
    position: absolute;
    display: block;
  }
  .container-fluid > .content {
    margin-left: 168px;
  }
  ul.nav li#home_link {
    display: none;
  }
  .input-xlarge, input.xlarge, textarea.xlarge, select.xlarge {
      width: 200px;
  }
  .categories .box {
    padding: 3px 5px 5px 1px;
    height: auto;
    min-height: 200px;
  }
  div.well form {
    padding: 1px;
    margin-bottom: 2px;
  }
  div.well form input#q {
    width: 120px;
    margin-bottom: 6px;
  }
  div.well.social a.flattr-medium {
    display: none;
  }
  span.noroll {
    text-overflow: ellipsis;
    display: block;
    white-space: normal;
    overflow: visible;
  }
  article {
    padding: 8px 20px;
    h1 {
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 12px;
    }
    h3 {
      font-size: 20px;
      line-height: 26px;
    }
    section {
      font-size: 13px;
    }
    section span#item_body img {
      max-width: 420px;
      max-height: 380px;
    }
    footer {
      padding: 20px 0 40px 0;
    }
  }
  footer ul.footer_menu li a {
    display: inline-block;
    margin-bottom: 2px;
  }
  footer ul.footer_categories {
    display: none;
  }
}


@media screen and (max-width: 680px) {
  .categories .box {
    padding: 3px 5px 5px 1px;
    height: auto;
    min-height: 200px;
  }
  div.well form {
    padding: 1px;
    margin-bottom: 1px;
  }
  div.well form input#q {
    width: 120px;
    margin-bottom: 6px;
  }
  span.noroll {
    text-overflow: ellipsis;
    display: block;
    white-space: normal;
    overflow: visible;
  }
  article {
    section {
      font-size: 13px;
    }
    section span#item_body img {
      max-width: 360px;
      max-height: 320px;
    }
    footer {
      padding: 20px 0 40px 0;
    }
  }
  footer ul.footer_categories {
    display: none;
  }
}

// Lowend Mobile
@media handheld and (max-width: 360px), screen and (max-device-width: 360px), screen and (max-width: 560px) {
  .container-fluid {
     min-width: 320px;
     padding-left: 8px;
     padding-right: 12px;
  }
  .container-fluid > .sidebar {
    float: left;
    display: block;
    position: relative;
    width: 300px;
    left: 0px;
  }
  .container-fluid > .sidebar .sidebar_secions {
    display: none;
  }
  .container-fluid > .content {
    margin-left: 0px;
    clear: both;
    display: block;
  }
  div.well {
    margin-bottom: 12px;
    padding: 10px 4px 4px 4px;
    text-align: center;
    width: 100%;
  }
  div.well.social {
    margin-bottom: 12px;
    padding: 8px 4px 8px 4px;
    text-align: center;
    width: 100%;
  }
  div.well.social img {
    margin-left: 5px;
    margin-right: 5px;
  }
  div.well.social a.flattr-medium {
    display: inline;
  }
  div.well form input#q {
    width: 158px;
    margin-bottom: 0px;
  }
  div.well ul li {
    list-style: none;
  }
  div.well ul, div.well ol {
    margin: 0 0 8px 16px;
  }
  .navbar .brand{
    text-align: center;
  }
  .navbar-inner {
    padding-right: 8px;
  }
  .breadcrumb {
    margin: 0 0 10px;
    padding: 7px 10px;
  }
  .input-xlarge, input.xlarge, textarea.xlarge, select.xlarge {
      width: 200px;
  }
  .categories .box {
    padding: 3px 3px 4px 0px;
    height: auto;
    min-height: 200px;
    width: 98%;
    max-width: 330px;
  }
  ul.nav li#home_link {
    display: none;
  }
  span.noroll {
    text-overflow: ellipsis;
    display: block;
    white-space: normal;
    overflow: visible;
  }
  .content article img.show_item_image,
  .content article img.youtube {
    display: block;
  }
  #item_body {
    display: block;
    clear: both;
  }
  #new_comment {
    max-width: 320px;
    margin-left: 0;
    padding-left: 0;
  }
  .comments {
    ul, ol {
      padding: 0;
      margin: 0 0 3px 6px;
    }
    h3 {
      margin: 0 0 6px 8px;
    }
    form,
    textarea,
    textarea#Comment,
    .form-actions {
      margin: 0px;
    }
  }
  .hidden-old-phone {
    display: none !important;
  }
  .form-horizontal .control-label {
    width: 120px;
  }
  .form-horizontal .controls {
    margin-left: 132px;
  }
  article {
    padding: 6px 16px;
    h1 {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 12px;
    }
    h3 {
      font-size: 18px;
      line-height: 22px;
    }
    section {
      font-size: 13px;
    }
    section span#item_body img {
      max-width: 320px;
      max-height: 280px;
    }
    footer {
      padding: 20px 0 40px 0;
    }
  }
  footer {
    ul.footer_menu li a {
      text-decoration: underline;
      display: block;
      margin-bottom: 2px;
    }
    ul.footer_categories {
      display: inherit;
    }
  }
}
