nav.pagination a
  line-height: 18px

nav.pagination
  padding: 0px
  margin: 0px
  margin-top: 10px
  float: right
  clear: both
  display: block

nav.pagination span.prev,
nav.pagination span.next,
nav.pagination span.first,
nav.pagination span.last,
nav.pagination span.page,
nav.pagination span.current
  list-style-type: none
  display: inline-block
  margin: 0 4px

nav.pagination span.prev a,
nav.pagination span.next a,
nav.pagination span.first a,
nav.pagination span.last a,
nav.pagination span.page a,
nav.pagination span.current a
  webkit-box-shadow: 0px 0px 3px #ddd
  background: #f6f6f6
  border: 1px solid #ccc
  padding: 5px 6px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  color: #555
  text-decoration: none
  -webkit-box-shadow: 0px 0px 3px #ddd
  -moz-box-shadow: 0px 0px 3px #ddd
  box-shadow: 0px 0px 3px #ddd

nav.pagination span.prev a:hover,
nav.pagination span.next a:hover,
nav.pagination span.first a:hover,
nav.pagination span.last a:hover,
nav.pagination span.page a:hover,
nav.pagination span.current a:hover
  background: #fff
  border: 1px solid #bbb
  box-shadow: 0px 0px 4px #aaa

nav.pagination span.current 
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  -webkit-box-shadow: 0px 0px 2px #999
  -moz-box-shadow: 0px 0px 2px #999      
  box-shadow: 0px 0px 2px #999
  border: 1px solid #aaa
  padding: 5px
  margin: 0px 2px
  line-height: 18px
  display: inline-table
  box-shadow: 0px 0px 4px #aaa
  font-weight: bold
