<% @items.each do |item| %>
  <%= render :partial => "/shared/item", :locals => {:item => item } %>
<% end %>

<% content_for :breadcrumb do %>
  <li>
    <a href="/">Home</a>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= @category.title %>
  </li>
<% end %>

<div class="pagination">
  <%= paginate @items %>
</div>
